/* font-family: 'Abel', sans-serif; */

html{
    font-family: 'Abel', sans-serif;
}

/* BLACKOUT */

/* #cover{
    background-color: black;
    width: 100vw;
    height: 100vh;
} */
button{
    display: flex;
    justify-content: flex-end;
}
p{
    color: black;  
    font-size: 50pt;
    text-transform: uppercase
   
}

a{
    color:inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

button{
    display: flex;
    justify-content: flex-end;
}