body{
}

P

#beet {
    padding-left: 0px;
}

#butter{
    padding-left: 10px;
}

#onion{
    padding-left: 20px;
}

#grain{
    padding-left: 30px;
}

#bay{
    padding-left: 40px;
}

#beef{
    padding-left: 50px;
}

#potato{
    padding-left: 60px;
}

#cabbage{
    padding-left: 70px;
}

#garlic{
    padding-left: 80px;
}

#cider{
    padding-left: 90px;
}

#sugar{
    padding-left: 100px;
}

#pepper{
    padding-left: 110px;
}

#cream{
    padding-left: 120px;
}