
/* font-family: 'Courier Prime', monospace;
 */

 html{
    font-family: 'Courier Prime', monospace;
 }
h1{
    font-size: 200px;
    position: sticky;
    top: -1px;
}
.one{
    margin-left: 10%;
    margin-right: 10%;
}

.cut{
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: -1px;
}

#beet{
    padding-left: 150px;
    position: sticky;
    top: -1px;
}
#butter{
    padding-left: 250px;
    position: sticky;
    top: -1px;
}
#onion{
    padding-left: 350px;
    position: sticky;
    top: -1px;
}



.two{
    margin-left: 20%;
    margin-right: 20%;

}
.add{
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: -1px;
}
#veggies{
    margin-left: 450px;
    position: sticky;
    top: -1px;
}
#grain{
    margin-left: 350px;
    position: sticky;
    top: -1px;
}
#bay{
    margin-left: 250px;
    position: sticky;
    top: -1px;
}
#beef{
    margin-left: 150px;
    position: sticky;
    top: -1px;
}



.three{
    margin-left: 30%;
    margin-right: 30%;

}
.pour{
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: -1px;
}
#potato{
    margin-left: 250px;
    position: sticky;
    top: -1px;
}
#cabbage{
    margin-left:350px;
    position: sticky;
    top: -1px;
}
#garlic{
    margin-left:450px;
    position: sticky;
    top: -1px;
}



.four{
    margin-left: 40%;
    margin-right: 40%;
}
.addthe{
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: -1px;
}
#cider{
    margin-left: 350px;
    position: sticky;
    top: -1px;
}
#sugar{
    margin-left: 250px;
    position: sticky;
    top: -1px;
}
#pepper{
    margin-left: 150px;
    position: sticky;
    top: -1px;
}
#cream{
    margin-left:50px;
    position: sticky;
    top: -1px;
}

.space{
    background-color:white;
    width: 100vw;
    height: 100vh
}