
.ingredients{
    padding-left: 50%;
}

.instruction{
    padding-top: 1000px;
}

#cut{
    padding-left: 50%;
    padding-right: 50%
}

#add{
    padding-left: 50%;
    padding-right: 50%
}

#pour{
    padding-left: 50%;
    padding-right: 50%
}

#addthe{
    padding-left: 50%;
    padding-right: 50%
}